* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

:root {
    --rust: #CF995F;
    --gray: #505A5B;
    --space: #343F3E;
    --white: #FFFFFF;}

body {min-width:320px;
    font-family:'Dosis', sans-serif;
font-size: 1rem;
letter-spacing: normal;
line-height:1.6;
background-color: var(--rust);}

h1 {background-color: var(--gray);
text-align: center;
margin: 2.5rem auto;
margin-left: 25rem;
margin-right: 25rem;
padding: 1rem auto;}

section {
margin: 2.5rem auto;
background-color: var(--white);
margin-left: 10rem;
margin-right: 50rem;
min-height: auto;
border: #343F3E;
border-style:solid;
text-indent: 1%;}