* {padding: 0;
    margin: 5px;
    box-sizing: border-box;}

:root {
    --rust: #CF995F;
    --gray: #505A5B;
    --space: #343F3E;
    --white: #FFFFFF;}

    nav {text-align: center;}

body {min-width:auto;
    font-family:'Dosis', sans-serif;
font-size: 1rem;
letter-spacing: normal;
line-height: 1.6;
background-color: var(--rust);}

h1 {background-color: var(--white);
text-align: center;
font-size: large;
text-decoration: underline;
margin: 2.5rem auto;
margin-left: 25rem;
margin-right: 25rem;
padding: 1rem auto;
border: #343F3E;
border-style: solid;}

header {background-color: var(--white);
    text-align: center;
    text-decoration:none;
    margin: 2.5rem auto;
    margin-left: 40rem;
    margin-right: 40rem;
    padding: 1rem auto;
    border: #343F3E;
    border-style: solid;}

section {
    text-align:center;
    margin: 2.5rem auto;
background-color: var(--white);
margin-left: 25rem;
margin-right: 25rem;
min-height: auto;
border: #343F3E;
border-style:solid;
padding: 2.5rem;
text-indent: 5%;}

article { text-align:center;
background-color: var(--white);
margin: 2.5rem;
margin-left: 25rem;
margin-right: 25rem;
min-height: auto;
border: #343F3E;
border-style:solid;
text-indent: 0%;


}

.education {text-align:center;
    background-color: var(--white);
    margin: 2.5rem auto;
    margin-left: 10rem;
    margin-right: 10rem;
    min-height: auto;
    border: #343F3E;
    border-style:solid;
    text-indent: 0%;}

    .work {text-align:center;
        background-color: var(--white);
        margin: 2.5rem auto;
        margin-left: 10rem;
        margin-right: 10rem;
        min-height: auto;
        border: #343F3E;
        border-style:solid;
        text-indent: 0%;}

h2 {text-decoration: underline;
text-align: center;
border-style: dotted;}

.button {
    background-color: #505A5B;
    color: #FFFFFF;
padding: 0.1rem;
text-decoration: none;}

nav {font-size: large;
text-decoration: solid;}

.form {text-align:center;
    background-color: var(--white);
    margin: 2.5rem auto;
    margin-left: 10rem;
    margin-right: 10rem;
    min-height: auto;
    border: #343F3E;
    border-style:solid;
    text-indent: 0%;}